<div class="container">
  <h1>Sinatra Anagram Finder!</h1>
  <p>Anagrams for "<%= @word %>":</p>
  <br>
  <div id = "anagrams">
    <ul>
      <% Word.anagrams(@word).each do |w| %>
        <li> <%= w.text %> </li>
      <% end %>
    </ul>
  </div>
</div>

